In [21]:
import pandas as pd
import numpy as np
import csv, sqlite3
from pandas.io import sql

In [22]:
df = pd.read_csv('database.csv')

In [23]:
df.head()

,yelp_id,name,category,price_range,address,neighborhood,info,Claimed?,website,phone,...,Has TV,Attire,Parking,Alcohol,Noise Level,Wi-Fi,ratings_notation,address1,address2,probability
0,afghan-kabob-chicago,Afghan Kabob,"Middle Eastern, Afghan",$11-30,"4040 W Montrose Ave Chicago, IL 60641",Albany Park,"{'Takes Reservations': 'No', 'Delivery': 'Yes'...",1,http://www.afghan-kabob.com,(773) 427-5041,...,Yes,Casual,Street,No,Quiet,No,4-half,4040 W Montrose Ave,"Chicago, IL 60641",11%
1,taco-and-burrito-house-chicago,Taco & Burrito House,Mexican,Under $10,"1548 W Fullerton Ave Chicago, IL 60614","Lincoln Park, DePaul","{'Takes Reservations': 'No', 'Delivery': 'No',...",0,NaN,(773) 665-8389,...,No,Casual,Street,No,Average,No,3-half,1548 W Fullerton Ave,"Chicago, IL 60614",36%
2,meatball-hero-and-pasta-chicago,Meatball Hero & Pasta,"American (Traditional), Italian",Under $10,"3037 N Clark St Chicago, IL 60657",Lakeview,"{'Takes Reservations': 'No', 'Delivery': 'Yes'...",1,http://www.meatballheroes.com/,(773) 348-3037,...,No,Casual,Street,No,Average,Free,4-half,3037 N Clark St,"Chicago, IL 60657",32%
3,sinha-elegant-cuisine-chicago,Sinha Elegant Cuisine,Brazilian,$11-30,"2018 W Adams Chicago, IL 60612",Near West Side,"{'Takes Reservations': 'Yes', 'Delivery': 'No'...",1,http://www.sinhaelegantcuisine.com,(312) 491-8200,...,No,Casual,"Street, Private Lot",No,Average,Free,4-half,2018 W Adams,"Chicago, IL 60612",19%
4,bella-luna-bar-and-pizza-chicago,Bella Luna Bar & Pizza,"Italian, Pizza",$11-30,"731 N Dearborn Chicago, IL 60654",Near North Side,"{'Takes Reservations': 'Yes', 'Delivery': 'Yes...",1,http://www.bellalunachicago.com/,(312) 751-2552,...,Yes,Casual,Street,Full Bar,Quiet,Free,3,731 N Dearborn,"Chicago, IL 60654",11%

In [24]:
df[df['name'] == 'Aria']

,yelp_id,name,category,price_range,address,neighborhood,info,Claimed?,website,phone,...,Has TV,Attire,Parking,Alcohol,Noise Level,Wi-Fi,ratings_notation,address1,address2,probability
521,aria-chicago,Aria,"Bars, Sushi Bars",$31-60,"200 N Columbus Dr Chicago, IL 60601",The Loop,"{'Takes Reservations': 'Yes', 'Delivery': 'No'...",1,http://www.ariachicago.com/,(312) 444-9494,...,No,Dressy,"Valet, Street, Private Lot, Validated",Full Bar,Quiet,Free,3,200 N Columbus Dr,"Chicago, IL 60601",23%

In [25]:
df.columns

Index(['yelp_id', 'name', 'category', 'price_range', 'address', 'neighborhood',
       'info', 'Claimed?', 'website', 'phone', 'working_hours', 'ratings',
       'reviews', 'HasWebsite', 'first_review', 'last_review',
       'permanently_closed', '1_star', '2_star', '3_star', '4_star', '5_star',
       'AvgLast_compound', 'AvgLast_star', 'AvgLast_subjectivity',
       'Last_compound_coef', 'Last_compound_intrcpt', 'Last_star_coef',
       'Last_star_intrcpt', 'Last_subjectivity_coef',
       'Last_subjectivity_intrcpt', 'avg_reviews', 'avg_star', 'between',
       'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Mon1', 'Tue1', 'Wed1',
       'Thu1', 'Fri1', 'Sat1', 'Sun1', 'dollar_signs', 'Accepts Credit Cards',
       'Good for Groups', 'Good for Kids', 'Takes Reservations',
       'Outdoor Seating', 'Take-out', 'Delivery', 'Has TV', 'Attire',
       'Parking', 'Alcohol', 'Noise Level', 'Wi-Fi', 'ratings_notation',
       'address1', 'address2', 'probability'],
      dtype='object')

# models.py

    yelp_id = models.CharField(max_length=200, default='N/A')
    name = models.CharField(max_length=200, default='N/A')
    claimed = models.IntegerField(default=0)
    ratings = models.FloatField(default=0.0)
    ratings_notation = models.CharField(max_length=200,default='0')
    review = models.IntegerField(default=0)
    dollar_signs = models.CharField(max_length=200, default='')
    category = models.CharField(max_length=200, default='N/A')
    prediction = models.IntegerField(default=0)
    address1 = models.CharField(max_length=200, default='')
    address2 = models.CharField(max_length=200, default='')
    between = models.CharField(max_length=200, default='')
    neighborhood= models.CharField(max_length=200, default='')
    phone = models.CharField(max_length=200, default='')
    website = models.CharField(max_length=200, default='')
    mon = models.CharField(max_length=200, default='N/A')
    tue = models.CharField(max_length=200, default='N/A')
    wed = models.CharField(max_length=200, default='N/A')
    thu = models.CharField(max_length=200, default='N/A')
    fri = models.CharField(max_length=200, default='N/A')
    sat = models.CharField(max_length=200, default='N/A')
    sun = models.CharField(max_length=200, default='N/A')
    mon1 = models.CharField(max_length=200, default='N/A')
    tue1 = models.CharField(max_length=200, default='N/A')
    wed1 = models.CharField(max_length=200, default='N/A')
    thu1 = models.CharField(max_length=200, default='N/A')
    fri1 = models.CharField(max_length=200, default='N/A')
    sat1 = models.CharField(max_length=200, default='N/A')
    sun1 = models.CharField(max_length=200, default='N/A')
    takes_reservations = models.CharField(max_length=200, default='N/A')
    delivery = models.CharField(max_length=200, default='N/A')
    take_out = models.CharField(max_length=200, default='N/A')
    accepts_credit_cards = models.CharField(max_length=200, default='N/A')
    parking = models.CharField(max_length=200, default='N/A')
    good_for_kids = models.CharField(max_length=200, default='N/A')
    good_for_groups = models.CharField(max_length=200, default='N/A')
    attire = models.CharField(max_length=200, default='N/A')
    noise_level = models.CharField(max_length=200, default='N/A')
    alcohol = models.CharField(max_length=200, default='N/A')
    outdoor_seating = models.CharField(max_length=200, default='N/A')
    wifi = models.CharField(max_length=200, default='N/A')
    hastv = models.CharField(max_length=200, default='N/A')
    first_review_date = models.DateTimeField('date first reviewed')
    last_review_date = models.DateTimeField('date last reviewed')
    permanently_closed = models.IntegerField(default=0)

In [26]:
df.rename(columns={'Claimed?': 'claimed',  'probability': 'prediction', 'reviews':'review',
                   'Mon': 'mon', 'Tue': 'tue', 'Wed': 'wed', 'Thu': 'thu', 
                   'Fri': 'fri', 'Sat': 'sat', 'Sun': 'sun', 'Mon1': 'mon1', 
                   'Tue1': 'tue1', 'Wed1': 'wed1', 'Thu1': 'thu1', 'Fri1': 'fri1', 
                   'Sat1': 'sat1', 'Sun1': 'sun1', 'Takes Reservations': 'takes_reservations',
                   'Delivery': 'delivery', 'Take-out': 'take_out', 'Accepts Credit Cards': 'accepts_credit_cards',
                   'Parking': 'parking', 'Good for Kids':'good_for_kids', 
                   'Good for Groups': 'good_for_groups', 'Attire': 'attire',
                   'Noise Level': 'noise_level', 'Alcohol': 'alcohol', 
                   'Outdoor Seating': 'outdoor_seating', 'Has TV': 'hastv', 
                   'Wi-Fi': 'wifi', 'first_review':'first_review_date', 
                   'last_review':'last_review_date'}, inplace=True)

In [27]:
df.columns

Index(['yelp_id', 'name', 'category', 'price_range', 'address', 'neighborhood',
       'info', 'claimed', 'website', 'phone', 'working_hours', 'ratings',
       'review', 'HasWebsite', 'first_review_date', 'last_review_date',
       'permanently_closed', '1_star', '2_star', '3_star', '4_star', '5_star',
       'AvgLast_compound', 'AvgLast_star', 'AvgLast_subjectivity',
       'Last_compound_coef', 'Last_compound_intrcpt', 'Last_star_coef',
       'Last_star_intrcpt', 'Last_subjectivity_coef',
       'Last_subjectivity_intrcpt', 'avg_reviews', 'avg_star', 'between',
       'mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'mon1', 'tue1', 'wed1',
       'thu1', 'fri1', 'sat1', 'sun1', 'dollar_signs', 'accepts_credit_cards',
       'good_for_groups', 'good_for_kids', 'takes_reservations',
       'outdoor_seating', 'take_out', 'delivery', 'hastv', 'attire', 'parking',
       'alcohol', 'noise_level', 'wifi', 'ratings_notation', 'address1',
       'address2', 'prediction'],
      dtype='object')

In [28]:
df = df[['yelp_id', 'name', 'claimed', 'ratings', 'ratings_notation', 'review', 'dollar_signs',
         'category', 'prediction', 'address1', 'address2', 'between', 'neighborhood', 
         'phone', 'website','mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun','mon1', 
         'tue1', 'wed1','thu1', 'fri1', 'sat1', 'sun1', 'takes_reservations', 'delivery',
         'take_out','accepts_credit_cards', 'parking', 'good_for_kids', 'good_for_groups', 
         'attire', 'noise_level', 'alcohol', 'outdoor_seating', 'wifi', 'hastv', 
         'first_review_date', 'last_review_date', 'permanently_closed']].copy()

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 45 columns):
yelp_id                 1072 non-null object
name                    1072 non-null object
claimed                 1072 non-null int64
ratings                 1072 non-null float64
ratings_notation        1072 non-null object
review                  1072 non-null float64
dollar_signs            1047 non-null object
category                1070 non-null object
prediction              1072 non-null object
address1                1070 non-null object
address2                1072 non-null object
between                 806 non-null object
neighborhood            1061 non-null object
phone                   1058 non-null object
website                 842 non-null object
mon                     727 non-null object
tue                     736 non-null object
wed                     736 non-null object
thu                     735 non-null object
fri                     735 non-null object
sat                     735 non-null object
sun                     736 non-null object
mon1                    21 non-null object
tue1                    25 non-null object
wed1                    26 non-null object
thu1                    27 non-null object
fri1                    28 non-null object
sat1                    29 non-null object
sun1                    27 non-null object
takes_reservations      1023 non-null object
delivery                1002 non-null object
take_out                1016 non-null object
accepts_credit_cards    1045 non-null object
parking                 1002 non-null object
good_for_kids           1013 non-null object
good_for_groups         1034 non-null object
attire                  1013 non-null object
noise_level             1004 non-null object
alcohol                 1017 non-null object
outdoor_seating         1031 non-null object
wifi                    977 non-null object
hastv                   1010 non-null object
first_review_date       1072 non-null object
last_review_date        1072 non-null object
permanently_closed      1072 non-null int64
dtypes: float64(2), int64(2), object(41)
memory usage: 377.0+ KB

In [30]:
df['review'] = df['review'].astype(int)
df['website'] = df['website'].apply(lambda x: x.replace('http://','').replace('www.','') if type(x)==str else x)

In [31]:
empty = ['dollar_signs', 'category', 'address1', 'between','neighborhood', 'phone', 'website']
df[empty] = df[empty].fillna('')

In [32]:
NA = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 
      'mon1', 'tue1', 'wed1','thu1', 'fri1', 'sat1', 'sun1', 
      'takes_reservations', 'delivery','take_out','accepts_credit_cards', 
      'parking', 'good_for_kids', 'good_for_groups', 'attire', 'noise_level', 
      'alcohol', 'outdoor_seating', 'wifi', 'hastv',]
df[NA] = df[NA].fillna('N/A')

In [33]:
df.head()

,yelp_id,name,claimed,ratings,ratings_notation,review,dollar_signs,category,prediction,address1,...,good_for_groups,attire,noise_level,alcohol,outdoor_seating,wifi,hastv,first_review_date,last_review_date,permanently_closed
0,afghan-kabob-chicago,Afghan Kabob,1,4.5,4-half,237,$$,"Middle Eastern, Afghan",11%,4040 W Montrose Ave,...,Yes,Casual,Quiet,No,No,No,Yes,2007-11-20 00:00:00,2017-08-24 00:00:00,0
1,taco-and-burrito-house-chicago,Taco & Burrito House,0,3.5,3-half,85,$,Mexican,36%,1548 W Fullerton Ave,...,No,Casual,Average,No,No,No,No,2006-02-11 00:00:00,2017-08-26 00:00:00,0
2,meatball-hero-and-pasta-chicago,Meatball Hero & Pasta,1,4.5,4-half,44,$,"American (Traditional), Italian",32%,3037 N Clark St,...,Yes,Casual,Average,No,No,Free,No,2015-07-08 00:00:00,2016-06-21 00:00:00,1
3,sinha-elegant-cuisine-chicago,Sinha Elegant Cuisine,1,4.5,4-half,126,$$,Brazilian,19%,2018 W Adams,...,Yes,Casual,Average,No,No,Free,No,2006-12-26 00:00:00,2017-08-11 00:00:00,0
4,bella-luna-bar-and-pizza-chicago,Bella Luna Bar & Pizza,1,3.0,3,109,$$,"Italian, Pizza",11%,731 N Dearborn,...,Yes,Casual,Quiet,Full Bar,Yes,Free,Yes,2005-07-22 00:00:00,2017-08-01 00:00:00,0

In [34]:
df.reset_index(inplace=True)
df['id'] = df['index'] + 1
df.drop(['index'], inplace=True, axis=1)
df.head()

,yelp_id,name,claimed,ratings,ratings_notation,review,dollar_signs,category,prediction,address1,...,attire,noise_level,alcohol,outdoor_seating,wifi,hastv,first_review_date,last_review_date,permanently_closed,id
0,afghan-kabob-chicago,Afghan Kabob,1,4.5,4-half,237,$$,"Middle Eastern, Afghan",11%,4040 W Montrose Ave,...,Casual,Quiet,No,No,No,Yes,2007-11-20 00:00:00,2017-08-24 00:00:00,0,1
1,taco-and-burrito-house-chicago,Taco & Burrito House,0,3.5,3-half,85,$,Mexican,36%,1548 W Fullerton Ave,...,Casual,Average,No,No,No,No,2006-02-11 00:00:00,2017-08-26 00:00:00,0,2
2,meatball-hero-and-pasta-chicago,Meatball Hero & Pasta,1,4.5,4-half,44,$,"American (Traditional), Italian",32%,3037 N Clark St,...,Casual,Average,No,No,Free,No,2015-07-08 00:00:00,2016-06-21 00:00:00,1,3
3,sinha-elegant-cuisine-chicago,Sinha Elegant Cuisine,1,4.5,4-half,126,$$,Brazilian,19%,2018 W Adams,...,Casual,Average,No,No,Free,No,2006-12-26 00:00:00,2017-08-11 00:00:00,0,4
4,bella-luna-bar-and-pizza-chicago,Bella Luna Bar & Pizza,1,3.0,3,109,$$,"Italian, Pizza",11%,731 N Dearborn,...,Casual,Quiet,Full Bar,Yes,Free,Yes,2005-07-22 00:00:00,2017-08-01 00:00:00,0,5

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 46 columns):
yelp_id                 1072 non-null object
name                    1072 non-null object
claimed                 1072 non-null int64
ratings                 1072 non-null float64
ratings_notation        1072 non-null object
review                  1072 non-null int64
dollar_signs            1072 non-null object
category                1072 non-null object
prediction              1072 non-null object
address1                1072 non-null object
address2                1072 non-null object
between                 1072 non-null object
neighborhood            1072 non-null object
phone                   1072 non-null object
website                 1072 non-null object
mon                     1072 non-null object
tue                     1072 non-null object
wed                     1072 non-null object
thu                     1072 non-null object
fri                     1072 non-null object
sat                     1072 non-null object
sun                     1072 non-null object
mon1                    1072 non-null object
tue1                    1072 non-null object
wed1                    1072 non-null object
thu1                    1072 non-null object
fri1                    1072 non-null object
sat1                    1072 non-null object
sun1                    1072 non-null object
takes_reservations      1072 non-null object
delivery                1072 non-null object
take_out                1072 non-null object
accepts_credit_cards    1072 non-null object
parking                 1072 non-null object
good_for_kids           1072 non-null object
good_for_groups         1072 non-null object
attire                  1072 non-null object
noise_level             1072 non-null object
alcohol                 1072 non-null object
outdoor_seating         1072 non-null object
wifi                    1072 non-null object
hastv                   1072 non-null object
first_review_date       1072 non-null object
last_review_date        1072 non-null object
permanently_closed      1072 non-null int64
id                      1072 non-null int64
dtypes: float64(1), int64(4), object(41)
memory usage: 385.3+ KB

In [36]:
df[df['name'] == 'Aria']

,yelp_id,name,claimed,ratings,ratings_notation,review,dollar_signs,category,prediction,address1,...,attire,noise_level,alcohol,outdoor_seating,wifi,hastv,first_review_date,last_review_date,permanently_closed,id
521,aria-chicago,Aria,1,3.0,3,267,$$$,"Bars, Sushi Bars",23%,200 N Columbus Dr,...,Dressy,Quiet,Full Bar,No,Free,No,2005-07-31 00:00:00,2015-11-01 00:00:00,1,522

In [37]:
connection = sqlite3.connect('db.sqlite3')
df.to_sql(name ='restaurants_restaurant', con=connection, if_exists='replace', index=False)

In [ ]:
df.to_sql(name ='restaurants_restaurant', con=connection, if_exists='replace', index=False)

In [180]:
from sqlalchemy import create_engine
#engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')
#df.to_sql('table_name', engine)